.animeList {
  list-style-type: none;
  margin-inline: 20%;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.animeListItem {
  border: solid 2px black;
  border-radius: 10px;
  height: 300px; 
  width: 300px;
  margin: 10px;
  position: static;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

.listImage {
        width: 180px;
        height: 180px;
        margin-inline: 10%;

}

.listName {
        padding: 16px;
        text-align: center
}

.modal {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 50% !important;
        height: 90% !important;
        padding: 20;
        zIndex: 9999 !important;
        background-color: white;
}