.Modal{
	font-size: large;
	text-align: center;
	height: 99%;
    overflow: auto;
}

.modalInfo {
	margin-top: 10px;
}

.ModalCategorie {
	text-align: left;
	color: blue;
	font-weight: bold;
}

.ModalValue {
	text-align: left;
}