.modalBack {
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flexDirection: row;
    justifyContent: center;
    alignItems: center;
    z-index: 9999;
}

.buttonText {
	width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flexDirection: row;
    justifyContent: center;
    alignItems: center;
    z-index: 9999;
}

.buttonPosition {
	position: absolute;
    top: 0;
    right: 0;
    margin-Right: 100;
    margin-Top: 20;
    z-index: 9999;
}

.body-no-scroll {
  overflow: hidden;
}