.lmj-plant-list {
        list-style-type: none;
        padding: 32px;
        margin-inline: 20%;
        display: flex;
        flex-wrap: wrap;
        max-width: 2000px;
}

.lmj-plant-item {
        border: solid 2px black;
        border-radius: 10px;
        height: 300px;
        width: 300px;
        margin: 10px;
        margin-inline:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
}

.lmj-plant-img {
        width: 200px;
        height: 200px;
        margin-inline: 15%;
}

.lmj-plant-name {
        padding: 16px;
}

.lmj-sales {
        position: absolute;
        right: 0px;
        top: 10px;
        font-weight: 500;
        color: white;
        padding: 5px 10px;
        background-color: #31b572;
}

/* modal */

#personModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0);
  /* Black w/ opacity */
}